# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/esp_wroom_02/.sconsign39.dblite
.pio/build/esp_wroom_02/bootloader.bin
.pio/build/esp_wroom_02/firmware.bin
.pio/build/esp_wroom_02/firmware.elf
.pio/build/esp_wroom_02/firmware.map
.pio/build/esp_wroom_02/idedata.json
.pio/build/project.checksum
.pio/build/esp_wroom_02/.sconsign39.dblite
.pio/build/esp_wroom_02/bootloader.bin
.pio/build/esp_wroom_02/firmware.bin
.pio/build/esp_wroom_02/firmware.elf
.pio/build/esp_wroom_02/firmware.map
.pio/build/esp_wroom_02/idedata.json
.pio/build/project.checksum
*.dblite
*.bin
*.elf
